html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 247, 255)), to(rgb(6, 98, 141))) fixed;
    color: black !important;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.services {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.service:hover {
    background: rgb(149, 234, 255);
    color: black;
}

.service {
    background: -webkit-gradient(linear, left top, left bottom, from(#add8e6), to(rgb(75, 193, 252))) fixed;
    ;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 2px 2px 20px rgba(35, 33, 33, 0.5);
    border-radius: 5px;
}

.light-blue {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 14px 1px;
    /* background: rgba(170, 234, 255, 0.9);*/
    background: rgba(163, 230, 255, 0.9);
    box-shadow: 2px 2px 50px rgba(35, 33, 33, 0.5);
    background-color: rgba(69, 147, 175, 0.9);
    background-image: linear-gradient(to right, rgba(131, 196, 219, 0.9), rgba(78, 162, 193, 0.9));
}



.hr-length {
    width: 50%;
    border: none;
    border-top: 0px;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.title2 {
    padding: 5px 0 10px;
    text-align: center;
    font-size: 4vw;
    font-weight: 700;
    line-height: normal;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 1.5);

    margin-bottom: -10px;
}


@media screen and (max-width:766px) {

    /* .title {
        font-size: 15vw;
    }*/

    .title2 {
        font-size: 6vw;
    }
}



@media screen and (max-width:1000px) {

    .card {
        width: 20rem !important;
    }
}



@media screen and (max-width:800px) and (min-width:1000px) {

    .card {
        width: 20rem !important;
    }
}


h1 {
    margin: 0px;
    /* font-size: 7vw;*/
    font-weight: 900;
    text-align: center;
    color: #f5ba69;
    font-weight: 700;
    text-shadow: 2px 2px 20px rgb(0 0 0);
    text-align: center;
    padding: 0px 30px 30px 15px;
    font-style: italic;
}

.sheger-title h1 {
    margin: 0px;
    font-size: 7vw;
    font-weight: 900;
    text-align: center;
    color: #f5ba69;
    font-weight: 700;
    text-shadow: 2px 2px 20px rgb(0 0 0);
    text-align: center;
    padding: 0px 30px 30px 15px;
    font-style: italic;
}

.card-img-top {
    box-shadow: 2px 2px 20px rgba(35, 33, 33, 0.5);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(0, 0, 0) !important;
}

.navbar-default .navbar-brand {
    color: rgb(0, 0, 0) !important;
}

.card {
    padding-bottom: 30px;
}